@font-face {
    font-family: "Oswald Medium";
    src: url(./fonts/static/Oswald-Medium.ttf);
}
@font-face {
    font-family: "Oswald Bold";
    src: url(./fonts/static/Oswald-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
}
#section{
    background-color: rgb(255, 239, 220);
    height: 100vh;
}
.head{
    width: 60%;
    margin: 0 auto;   
}
.head-title{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.head img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: aqua;
    margin-bottom: 20px;
}
.head-title h1{
    font-size: 30px;
    font-weight: 900;
}
.body h2{
    color: orangered;
    font-family: "Oswald Bold";
}
.body p{
    font-family: "Oswald Medium";
    margin-top: 10px;
}